[submodule "DockerImages/azure-linux-nodejs-hello-world"]
	path = DockerImages/azure-linux-nodejs-hello-world
	url = https://github.com/chmald/azure-linux-nodejs-hello-world.git
[submodule "DockerImages/azure-linux-nodejs-imagemagick"]
	path = DockerImages/azure-linux-nodejs-imagemagick
	url = https://github.com/chmald/azure-linux-nodejs-imagemagick.git
[submodule "DockerImages/azure-linux-ruby"]
	path = DockerImages/azure-linux-ruby
	url = https://github.com/chmald/azure-linux-ruby.git
[submodule "DockerImages/azure-linux-java-tomcat"]
	path = DockerImages/azure-linux-java-tomcat
	url = https://github.com/chmald/azure-linux-java-tomcat.git
[submodule "DockerImages/azure-linux-nodejs-react-app"]
	path = DockerImages/azure-linux-nodejs-react-app
	url = https://github.com/chmald/azure-linux-nodejs-react-app.git
[submodule "DockerImages/azure-linux-python-flask-api"]
	path = DockerImages/azure-linux-python-flask-api
	url = git@github.com:chmald/azure-linux-python-flask-api.git
[submodule "OtherExamples/Toan/toan-angular2-sample"]
	path = OtherExamples/Toan/toan-angular2-sample
	url = https://github.com/toanms/toan-angular2-sample.git
[submodule "OtherExamples/Toan/toan-reactjs-sample"]
	path = OtherExamples/Toan/toan-reactjs-sample
	url = https://github.com/toanms/toan-reactjs-sample.git
[submodule "OtherExamples/Toan/toan-jenkins-azure-linux"]
	path = OtherExamples/Toan/toan-jenkins-azure-linux
	url = https://github.com/toanms/toan-jenkins-azure-linux.git
[submodule "DockerImages/azure-linux-nodejs-custom"]
	path = DockerImages/azure-linux-nodejs-custom
	url = git@github.com:chmald/azure-linux-nodejs-custom.git
[submodule "DockerImages/azure-linux-wordpress-local"]
	path = DockerImages/azure-linux-wordpress-local
	url = git@github.com:chmald/azure-linux-wordpress-local.git
[submodule "Code/Python/python-django-upload"]
	path = Code/Python/python-django-upload
	url = git@github.com:chmald/python-django-upload.git
