<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Security" stopProcessing="true">
            <match url="path/restricted" />
            <conditions>
                <!-- add input patterns that match the IP address ensuring to escape the '.' character -->
                <add input="{HTTP_X_Forwarded_For}" pattern="xxx\.xxx\.xxx\.xxx*" negate="true"/>
            </conditions>
            <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Site is not accessible" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
